<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link th:replace="~{fragments :: bootstrap-css}">
</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3 w-50">

    <h1 th:text="${title}"></h1>

    <form th:action="@{|/alunos/${aluno.id}/alterar-turma|}" method="post">
        <div class="row mt-2">
            <div class="col">
                <div class="form-group">
                    <label for="turma-select">Turma</label>
                    <select class="form-control" id="turma-select" th:name="turma">
                        <option th:value="${null}">Nenhuma</option>
                        <option th:each="t: ${turmasList}" th:value="${t.id}" th:text="${t.turma}"
                                th:selected="(${t} == ${aluno.turma})"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input class="btn btn-outline-primary" type="submit" th:value="Salvar">
                <input class="btn btn-outline-secondary" type="reset" th:value="Limpar">
            </div>
        </div>
    </form>

</div>

<div th:replace="~{fragments :: main-footer}"></div>

<script th:replace="~{fragments :: bootstrap-js}"></script>

</body>
</html>