<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body>

<div class="container mt-3 w-50">

    <h1 th:text="${title}"></h1>

    <form action="#" th:action="@{/alunos/registrar}" th:object="${alunoForm}" method="post">

        <div class="row mt-3">
            <div class="col">
                <div class="form-group">
                    <label for="nome-input">Nome</label>
                    <input class="form-control" th:errorclass="is-invalid" id="nome-input" type="text" th:field="*{nome}" placeholder="Nome">
                    <div class="invalid-feedback" th:errors="*{nome}"></div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="cpf-input">CPF</label>
                    <input class="form-control" th:errorclass="is-invalid" id="cpf-input" type="text" th:field="*{cpf}"
                           pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="123.123.123-12">
                    <div class="invalid-feedback" th:errors="*{cpf}"></div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="turno-select">Turno</label>
                    <select class="form-control" id="turno-select" th:field="*{turno}">
                        <option th:each="turno: ${turnos}" th:value="${turno}" th:text="${turno}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="form-group">
                    <label for="turma-select">Turma</label>
                    <select class="form-control" id="turma-select" th:field="*{turma}">
                        <option th:value="${null}">Nenhuma</option>
                        <option th:if="${turmasList != null}" th:each="t: ${turmasList}" th:value="${t.id}" th:text="${t.turma}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input class="btn btn-outline-primary" type="submit" th:value="Salvar">
                <input class="btn btn-outline-secondary" type="reset" th:value="Limpar">
            </div>
        </div>

    </form>

</div>

</body>
</html>