<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{fragments :: head}">

</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3">

    <div class="row">
        <div class="col">
            <h1 th:text="|Funcionários do cargo ${cargo.cargo}|"></h1>
            <div sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">
                <a class="btn btn-primary float-end" role="button" th:href="@{|/cargos/${cargo.id}/editar|}">Editar cargo</a>
            </div>
        </div>
    </div>

</div>

<div class="container mt-2">

<!--    <div class="inline_block">-->
<!--    </div>-->

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${cargo.funcionarios.empty}">
            <td colspan="3">Este cargo não possui funcionários</td>
        </tr>
        <tr th:each="funcionario: ${cargo.funcionarios}">
            <th><span th:text="${funcionario.id}">Id</span></th>
            <td><span th:text="${funcionario.nome}">Nome</span></td>
            <td><a th:href="@{|/funcionarios/${funcionario.id}/detalhes|}">Ver mais</a></td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>