<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments :: main-header}"></header>

<div class="container mt-3 w-50">

    <h1 th:text="${title}"></h1>

    <form th:action="@{|/cargos/${id}/editar|}" th:object="${cargoForm}" method="post">

        <div class="row mt-3">
            <div class="col">
                <div class="form-group">
                    <label for="cargo-input">Cargo</label>
                    <input class="form-control" type="text" id="cargo-input" th:field="*{cargo}"/>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input class="btn btn-outline-primary" type="submit" th:value="Salvar">
                <input class="btn btn-outline-secondary" type="reset" th:value="Limpar">
            </div>
        </div>

    </form>

</div>

<footer th:replace="~{fragments :: main-footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>