<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments :: main-header}"></header>

<div class="container mt-3">

    <div class="inline_block">
        <h1 th:text="${title}"></h1>
        <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
            <a class="btn btn-primary float-end" role="button" th:href="@{/cargos/registrar}" th:text="Registrar"></a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Cargo</th>
            <th sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')"></th>
            <th sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${cargosList.empty}">
            <td colspan="5"> Nenhum cargo registrado</td>
        </tr>
        <tr th:each="cargo : ${cargosList}">
            <th><span th:text="${cargo.id}">Id</span></th>
            <td><span th:text="${cargo.cargo}">Cargo</span></td>
            <td>
                <div sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">
                    <a class="link-secondary" th:href="@{|/cargos/${cargo.id}/editar|}">Editar</a>
                </div>
            </td>
            <td>
                <div sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">
                    <a class="link-danger" th:href="@{|/cargos/${cargo.id}/deletar|}">Deletar</a>
                </div>
            </td>
            <td><a class="link-info" th:href="@{|/cargos/${cargo.id}/detalhes|}">Ver mais</a></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row">

            <div class="col">
                Total: [[${totalItems}]] - Página [[${currentPage}]] de [[${totalPages}]]
            </div>

            <div class="col">
                <a th:if="${currentPage <= totalPages && currentPage != 1}" th:href="@{|/cargos/${currentPage - 1}|}">Anterior</a>
            </div>

            <div class="col">
                <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{|/cargos/${i}|}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                </span>
            </div>

            <div class="col">
                <a th:if="${currentPage < totalPages}" th:href="@{|/cargos/${currentPage + 1}|}">Próximo</a>
<!--                <span th:unless="${currentPage < totalPages}">Próximo</span>-->
            </div>

        </div>
    </div>

</div>

<footer th:replace="~{fragments :: main-footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>