<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link th:replace="~{fragments :: bootstrap-css}">
</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Usuário</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')"></th>
            <th sec:authorize="hasAnyAuthority('ADMIN')"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${usuariosList.empty}">
            <td colspan="5">Nenhum usuário registrado</td>
        </tr>
        <tr th:each="usuario : ${usuariosList}">
            <th><span th:text="${usuario.id}">Id</span></th>
            <td><span th:text="${usuario.username}">Usuário</span></td>
            <td>
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="link-secondary" >Editar</a>
                </div>
            </td>
            <td>
                <div sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="link-danger" >Deletar</a>
                </div>
            </td>
            <td><a class="link-info" >Ver mais</a></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row">
            <div class="col">
                Total: [[${totalItems}]] - Página [[${currentPage}]] de [[${totalPages}]]
            </div>

            <div class="col">
                <a th:if="${currentPage <= totalPages && currentPage != 1}"
                   th:href="@{|/turmas/${currentPage - 1}|}">Anterior</a>
            </div>

            <div class="col">
                <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{|/turmas/${i}|}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                </span>
            </div>

            <div class="col">
                <a th:if="${currentPage < totalPages}" th:href="@{|/turmas/${currentPage + 1}|}">Próximo</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{fragments :: main-footer}"></div>

<script th:replace="~{fragments :: bootstrap-js}"></script>

</body>
</html>