<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3">

    <div class="row">
        <div class="col">
            <h1 th:text="|Turma ${turma.turma}|"></h1>
            <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
                <a class="btn btn-primary float-end" role="button" th:href="@{|/turmas/${turma.id}/editar|}">Editar
                    Turma</a>
            </div>
            <div sec:authorize="hasAnyAuthority('ADMIN', 'PROFESSOR')">
                <a class="btn btn-primary float-end" role="button" th:href="@{|/turmas/${turma.id}/avisos/novo|}">Novo aviso</a>
            </div>
        </div>
    </div>

</div>

<div class="container mt-2">

    <div class="row mt-2" id="conteudo">
        <div class="col">
            <label for="turma-conteudo"><b>Conteúdo</b></label>
            <p id="turma-conteudo" th:text="${turma.conteudo}"></p>
        </div>

        <div class="col" id="professor">
            <label for="turma-professor"><b>Professor</b></label><br>
            <p th:if="${turma.professor == null}">Sem professor</p>
            <p th:unless="${turma.professor == null}" id="turma-professor" th:text="${turma.professor.nome}"></p>
        </div>
    </div>

</div>

<div class="container mt-2" id="avisos">

    <div th:if="${ultimoAviso != null}">

        <h2>Último aviso</h2>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div>
                        <p th:text="|Enviado por: ${ultimoAviso.nomeUsuario}|"></p>
                    </div>
                    <div class="card-text">
                        <p th:text="${ultimoAviso.mensagem}"></p>
                    </div>
                    <div class="card-text text-muted" th:with="conversor=${T(me.edurevsky.controleescola.utils.ConversorDeDatas)}">
                        <p th:text="|Enviado em: ${conversor.converterLocalDateTime(ultimoAviso.data)}|"></p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col">
                    <a th:href="@{|/turmas/${turma.id}/avisos|}">Ver todos os avisos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2" id="alunos">

    <h2>Alunos da turma</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>Turno</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${turma.alunos.empty}">
            <td colspan="7">Esta turma não possui alunos</td>
        </tr>
        <tr th:each="aluno : ${turma.alunos}">
            <th><span th:text="${aluno.id}">Id</span></th>
            <td><span th:text="${aluno.nome}">Nome</span></td>
            <td><span th:text="${aluno.email}">Email</span></td>
            <td><span th:text="${aluno.estaAtivo} ? 'Ativo' : 'Inativo'">Status</span></td>
            <td><span th:text="${aluno.turno}">Turno</span></td>
            <td><a>Ver mais</a></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="~{fragments :: main-footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>