<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{fragments :: head}">

</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3">

    <div class="row">
        <div class="col">
            <h1 th:text="|Professor #${professor.id}|"></h1>
            <div sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">
                <a class="btn btn-primary float-end" role="button" th:href="@{|/professores/${professor.id}/editar|}">Editar</a>
            </div>
        </div>
    </div>

</div>

<div class="container mt-2">

    <div class="row mt-2">
        <div class="col">
            <label for="prof-nome"><b>Nome</b></label>
            <p id="prof-nome" th:text="${professor.nome}"></p>
        </div>
    </div>

    <div class="row" sec:authorize="hasAnyAuthority('EDITOR', 'CREATOR', 'ADMIN')">
        <div class="col">
            <label for="prof-cpf"><b>CPF</b></label>
            <p id="prof-cpf" th:text="${professor.cpf}"></p>
        </div>

        <div class="col">
            <label for="prof-salario"><b>Salário</b></label>
            <p id="prof-salario" th:text="${professor.salario}"></p>
        </div>
    </div>
</div>

<div class="container mt-2">

    <h2>Turmas</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Turma</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${professor.turmas.empty}">
            <td colspan="3">Professor não contém turmas</td>
        </tr>
        <tr th:each="turma : ${professor.turmas}">
            <th><span th:text="${turma.id}">Id</span></th>
            <td><span th:text="${turma.turma}">Turma</span></td>
            <td><a th:href="@{|/turmas/${turma.id}/detalhes|}">Ver mais</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments :: main-footer}"></div>

<script th:replace="~{fragments :: bootstrap-js}"></script>

</body>
</html>