<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3 w-50">

    <h1 th:text="${title}"></h1>

    <form th:action="@{|/funcionarios/${funcionario.id}/editar|}" th:object="${funcionarioForm}" method="post">

        <div class="row mt-3">
            <div class="col">
                <div class="form-group">
                    <label for="nome-input">Nome</label>
                    <input class="form-control" id="nome-input" type="text" th:name="nome" th:value="${funcionario.nome}">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="cpf-input">CPF</label>
                    <input class="form-control" id="cpf-input" type="text" th:name="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" th:value="${funcionario.cpf}">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="salario-input">Salário</label>
                    <input class="form-control" id="salario-input" type="number" step="any" th:name="salario" th:value="${funcionario.salario}">
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="form-group mt-2">
                    <label for="horario-select">Turno</label>
                    <select class="form-control" id="horario-select" th:name="horarioDeTrabalho">
                        <option th:each="turno : ${turnos}" th:value="${turno}" th:text="${turno}"
                                th:selected="(${turno} == ${funcionario.horarioDeTrabalho})"></option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group mt-2">
                    <label for="cargo-select">Cargo</label>
                    <select class="form-control" id="cargo-select" th:name="cargo">
                        <option th:value="${null}">Nenhum</option>
                        <option th:each="c: ${cargosList}" th:value="${c.id}" th:text="${c.cargo}"
                                th:selected="(${c} == ${funcionario.cargo})"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input class="btn btn-outline-primary" type="submit" th:value="Salvar">
                <input class="btn btn-outline-secondary" type="reset" th:value="Limpar">
            </div>
        </div>

    </form>

</div>

<div class="container mt-2 w-50">

    <div th:if="${cargosList.empty}" class="alert alert-warning" role="alert">
        Você ainda não registrou nenhum cargo.
        Clique <a th:href="@{/cargos/registrar}">aqui</a> para registrar um cargo.
    </div>

</div>

<div th:replace="~{fragments :: main-footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>