<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body>

<div class="container mt-3 w-50">

    <h1 th:text="${title}"></h1>

    <form action="#" th:action="@{/funcionarios/registrar}" th:object="${funcionarioForm}" method="post">

        <div class="row">
            <div class="col">
                <div class="form-group mt-3">
                    <label for="nome-input">Nome</label>
                    <input class="form-control" th:errorclass="is-invalid" id="nome-input" type="text" th:field="*{nome}" placeholder="Nome">
                    <div class="invalid-feedback" th:errors="*{nome}"></div>
                </div>
            </div>

            <div class="col">
                <div class="form-group mt-3">
                    <label for="cpf-input">CPF</label>
                    <input class="form-control" th:errorclass="is-invalid" id="cpf-input" type="text" th:field="*{cpf}"
                           pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="123.123.123-12">
                    <div class="invalid-feedback" th:errors="*{cpf}"></div>
                </div>
            </div>

            <div class="col">
                <div class="form-group mt-3">
                    <label for="salario-input">Salário</label>
                    <input class="form-control" th:errorclass="is-invalid" id="salario-input" type="number" step="0.01" th:field="*{salario}" placeholder="1000,00">
                    <div class="invalid-feedback" th:errors="*{salario}"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="cargo-select">Cargo</label>
                <select class="form-control" id="cargo-select" th:field="*{cargo}">
                    <option th:value="${null}">Nenhum</option>
                    <option th:each="c: ${cargosList}" th:value="${c.id}" th:text="${c.cargo}"></option>
                </select>
            </div>

            <div class="col">
                <label for="horario-inicio">Horário de Entrada</label>
                <input class="form-control" id="horario-inicio" type="time" th:field="*{horarioInicio}">
            </div>

            <div class="col">
                <label for="horario-final">Horário de Saída</label>
                <input class="form-control" id="horario-final" type="time" th:field="*{horarioFinal}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input class="btn btn-outline-primary" type="submit" th:value="Salvar">
                <input class="btn btn-outline-secondary" type="reset" th:value="Limpar">
            </div>
        </div>

    </form>

</div>

<div class="container mt-2 w-50">

    <div th:if="${cargosList.empty}" class="alert alert-warning" role="alert">
        Você ainda não registrou nenhum cargo.
        Clique <a th:href="@{/cargos/registrar}">aqui</a> para registrar um cargo.
    </div>

</div>

</body>
</html>