<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3">
    <div sec:authorize="isAuthenticated()">
        <h1>
            Olá <span sec:authentication="principal.user.completeName">username</span>!
        </h1>
    </div>
</div>

<div class="container mt-3" sec:authorize="hasAnyAuthority('ALUNO')">

    <h2>Sua turma</h2>

    <div id="turma" th:if="${aluno.turma != null}">
        <a th:href="@{|/turmas/${aluno.turma.id}/detalhes|}">Ver sua turma</a>
    </div>

</div>

<div th:replace="~{fragments :: main-footer}"></div>

</body>
</html>