<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Erro</title>
    <link th:replace="~{fragments :: bootstrap-css}">
</head>
<body>

<div class="container mt-2">
    <h1>Um erro ocorreu...</h1>
    <p>
        Caso o erro persista, entre em contato com os desenvolvedores.
    </p>
    <p>
        Clique <a th:href="@{/}">Aqui</a> para voltar para o início.
    </p>
</div>

</body>
</html>