<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{fragments :: main-header}"></header>

<div class="container mt-3">
    <div sec:authorize="isAuthenticated()">
        <h1>
            Olá <span sec:authentication="principal.user.completeName">username</span>!
        </h1>
    </div>
</div>

<footer th:replace="~{fragments :: main-footer}"></footer>

</body>
</html>