<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body>

<div th:replace="~{fragments :: main-header}"></div>

<div class="container mt-3">
    <div sec:authorize="isAuthenticated()">
        <h1>
            Olá <span sec:authentication="principal.user.completeName">username</span>!
        </h1>
        Suas autorizações são: <p sec:authentication="authorities"></p>
    </div>
</div>

<div th:replace="~{fragments :: main-footer}"></div>

</body>
</html>