<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{fragments :: head}">

</head>
<body class="d-flex flex-column min-vh-100">

<div class="container mt-3">

    <h1 th:text="${title}"></h1>

    <div th:each="aviso : ${avisosList}" id="avisos">
        <div class="card">
            <div>
                <p th:text="|Enviado por: ${aviso.nomeUsuario}|"></p>
            </div>
            <div class="card-text">
                <p th:text="${aviso.mensagem}"></p>
            </div>
            <div class="card-text text-muted" th:with="conversor=${T(me.edurevsky.controleescola.utils.ConversorDeDatas)}">
                <p th:text="|Enviado em: ${conversor.converterLocalDateTime(aviso.data)}|"></p>
            </div>
        </div>
    </div>

</div>

</body>
</html>